<table ui-table class="ui-table">
  <thead>
  <tr ui-table-selector>
    <th>test</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data" [ui-selectable]="item" [checked]="item === 111">
    <td>{{ item }}</td>
  </tr>
  </tbody>
</table>

<hr>

<button type="button" (click)="show()">button</button>

<ng-template #modal>
  <ui-modal>
    <form novalidate>
      <ui-select>
        <ui-option value="a">aaa</ui-option>
        <ui-option value="b">bbb</ui-option>
      </ui-select>
    </form>
  </ui-modal>
</ng-template>