
<button class="ui-btn ui-btn-default " type="button" ui-button [loading]="loading">test</button><br><br>
<button class="ui-btn ui-btn-primary " type="button" ui-button [loading]="loading">test</button><br><br>
<button class="ui-btn ui-btn-info " type="button" ui-button [loading]="loading">test</button><br><br>
<button class="ui-btn ui-btn-success " type="button" ui-button [loading]="loading">test</button><br><br>
<button class="ui-btn ui-btn-warning " type="button" ui-button [loading]="loading">test</button><br><br>
<button class="ui-btn ui-btn-danger " type="button" ui-button [loading]="loading">test</button><br><br>


<p>
  <button type="button" class="ui-btn ui-btn-primary" (click)="show()">set</button>
</p>