ui-dropdown {
  display: inline-block;
  position: relative;
  &.ui-open {
    > ui-dropdown-menu {
      transform: scaleY(1);
      opacity: 1
    }
  }
  > ui-dropdown-menu {
    transform-origin: 0 0;
    transition: all .1s;
    transform: scaleY(0);
    opacity: 0;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 100%;
    &.ui-left-top {
      left: 0;
      bottom: 100%;
      right: auto;
      top: auto;
      transform-origin: 0 100%;
    }
    &.ui-left-bottom {
      left: 0;
      top: 100%;
      right: auto;
      bottom: auto;
    }
    &.ui-right-top {
      left: auto;
      right: 0;
      top: auto;
      bottom: 100%;
      transform-origin: 0 100%;
    }
    &.ui-right-bottom {
      left: auto;
      right: 0;
      top: 100%;
      bottom: auto;
    }
  }
  > .btn {
    padding-left: 8px;
    padding-right: 8px;
  }
}