ui-dropdown {
  display: inline-block;
  position: relative;
  &.ui-open {
    > ui-dropdown-menu {
      transform: scaleY(1);
      opacity: 1
    }
  }
  > ui-dropdown-menu {
    transform-origin: 0 0;
    transition: all .1s;
    transform: scaleY(0);
    opacity: 0;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 100%;
  }
  > .btn {
    padding-left: 8px;
    padding-right: 8px;
  }
}