ui-header {
  display: block;
  height: 50px;
  background: $color-dark;
  color: $color-gray-light;
  &.ui-header-fill-screen {
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $screen-sm-min) {
      width: $screen-sm-min;
    }
    @media (min-width: $screen-md-min) {
      width: $screen-md-min;
    }
    @media (min-width: $screen-lg-min) {
      width: $screen-lg-min;
    }
  }

  &.ui-header-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
  > ui-container {
    height: 100%;
  }
}