ui-tab-button {
  display: inline-block;
  cursor: pointer;
  padding: 5px 12px;
  &.ui-active {
    padding-bottom: 3px;
    border-bottom: 2px solid $color-primary;
    color: $color-primary;
  }
  &:hover {
    color: $color-primary;
  }
}