@import "~@tanbo/textbus/bundles/textbus.min.css";

ui-editor {
  display: block;
  margin-bottom: 1em;
  position: relative;
  z-index: 0;
}

.ui-input-editor {
  left: -9999px;
  top: -9999px;
  position: absolute;
  opacity: 0;
}
