@mixin input-addon-style($border-color, $border-focus-color) {
  border: 1px solid $border-color;
  text-align: center;
  min-width: 34px;
}

ui-input-addon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: $line-height;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 32px;
  background-color: #fff;
  @include input-addon-style($form-control-border-color, $form-control-border-color);
  &:first-child {
    border-top-left-radius: $form-control-radius;
    border-bottom-left-radius: $form-control-radius;
  }
  &:last-child {
    border-top-right-radius: $form-control-radius;
    border-bottom-right-radius: $form-control-radius;
  }
  &.ui-has-error {
    @include input-addon-style($form-control-border-color-danger, $form-control-border-color-danger);
  }
}