ui-option {
  user-select: none;
  &.ui-selected {
    background-color: $color-lighter;
    &:not(.ui-option-multiple) {
      background-color: rgba(red($color-primary), green($color-primary), blue($color-primary), .2);
      color: inherit;
    }
  }

  @include linker;

  &.ui-option-multiple {
    padding: 0;
    ui-input[type=checkbox] {
      color: inherit;
      pointer-events: none;
    }
  }
}

.ui-option-label {
  display: block;
  padding: 3px 20px 3px 15px;
  cursor: inherit;
  > ui-input {
    vertical-align: sub;
  }
  > span {
    margin-left: 10px;
  }
}
