ui-select {
  ui-dropdown-menu {
    width: 100%;
  }
}

.ui-select-fixed {
  position: relative;
}

.ui-select-arrow {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .15s;
  &.ui-open {
    transform: rotateZ(180deg);
  }
}