<button type="button" (click)="show()">show</button>

<ng-template #modal>
  <ui-modal title="标题">
<!--    <ui-modal-header>-->
<!--      self-->
<!--      <button class="ui-close">&times;</button>-->
<!--    </ui-modal-header>-->
    <ui-modal-body>
      body
    </ui-modal-body>
    <ui-modal-footer>
      <button type="button" class="ui-btn ui-btn-info">取消</button>
      <button type="button" class="ui-btn ui-btn-primary">确定</button>
    </ui-modal-footer>
  </ui-modal>
</ng-template>

<ui-tag closable>fdsa</ui-tag>
