<ui-step activeIndex="3">
  <ui-step-item>
    <h4 class="ui-step-title">提交申请表 <small>2019-05-20</small></h4>
    <p class="ui-step-content">向 tanboui 组件提交一份需求申请表。</p>
  </ui-step-item>
  <ui-step-item>
    <h4 class="ui-step-title">需求审核 <small>2019-07-04</small></h4>
    <p class="ui-step-content">tanboui 开发人员审核需求是否要纳入到下一个版本开发中。</p>
  </ui-step-item>
  <ui-step-item>
    <h4 class="ui-step-title">立项  <small>2019-08-01</small></h4>
    <p class="ui-step-content">正式立项，把需求列入工作计划。</p>
  </ui-step-item>
  <ui-step-item>
    <h4 class="ui-step-title">正式开发 <small>2019-08-10</small></h4>
    <p class="ui-step-content">安排相关技术人员开发相关功能。</p>
  </ui-step-item>
  <ui-step-item>
    <h4 class="ui-step-title">测试 <small>2019-09-10</small></h4>
    <p class="ui-step-content">测试相关功能是否完成预定需求。</p>
  </ui-step-item>
  <ui-step-item>
    <h4 class="ui-step-title">发布 <small>2019-10-20</small></h4>
    <p class="ui-step-content">发布上线。</p>
  </ui-step-item>
</ui-step>
