ui-tree {
  //display: none;
  display: block;
  position: relative;
  //&.ui-expand {
  //  display: block;
  //}
}

.ui-tree-line {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px dotted $tree-line-color;
  transform: translateX(1em);
}

ui-tree-item:last-child {
  > ui-tree > .ui-tree-line {
    display: none;
  }
}
