@font-face {
  font-family: 'tanbo-ui';
  src:
    url('fonts/tanbo-ui.ttf?bnm3z8') format('truetype'),
    url('fonts/tanbo-ui.woff?bnm3z8') format('woff'),
    url('fonts/tanbo-ui.svg?bnm3z8#tanbo-ui') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ui-icon-"], [class*=" ui-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tanbo-ui' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-icon-arrow-top:before {
  content: "\e50e";
}
.ui-icon-arrow-right:before {
  content: "\e50f";
}
.ui-icon-arrow-bottom:before {
  content: "\e510";
}
.ui-icon-arrow-left:before {
  content: "\e511";
}
.ui-icon-arrow-dropdown:before {
  content: "\e606";
}
.ui-icon-close:before {
  content: "\e636";
}
.ui-icon-coding-split:before {
  content: "\e902";
}
.ui-icon-image:before {
  content: "\e90d";
}
.ui-icon-display:before {
  content: "\e956";
}
.ui-icon-quotes-left:before {
  content: "\e977";
}
.ui-icon-list-numbered:before {
  content: "\e9b9";
}
.ui-icon-list2:before {
  content: "\e9bb";
}
.ui-icon-link:before {
  content: "\e9cb";
}
.ui-icon-warning:before {
  content: "\ea07";
}
.ui-icon-notification:before {
  content: "\ea08";
}
.ui-icon-info:before {
  content: "\ea0c";
}
.ui-icon-cancel-circle:before {
  content: "\ea0d";
}
.ui-icon-checkmark:before {
  content: "\ea10";
}
.ui-icon-arrow2-top:before {
  content: "\ea1c";
}
.ui-icon-arrow2-right:before {
  content: "\ea1d";
}
.ui-icon-arrow2-bottom:before {
  content: "\ea1e";
}
.ui-icon-arrow2-left:before {
  content: "\ea1f";
}
.ui-icon-checkbox-checked:before {
  content: "\ea52";
}
.ui-icon-checkbox-unchecked:before {
  content: "\ea53";
}
.ui-icon-radio-checked:before {
  content: "\ea54";
}
.ui-icon-radio-unchecked:before {
  content: "\ea56";
}
.ui-icon-font-size:before {
  content: "\ea61";
}
.ui-icon-bold:before {
  content: "\ea62";
}
.ui-icon-italic:before {
  content: "\ea64";
}
.ui-icon-strikethrough:before {
  content: "\ea65";
}
.ui-icon-table:before {
  content: "\ea71";
}
.ui-icon-embed:before {
  content: "\ea80";
}
