@import "../../../../assets/scss/varibles";

.menu {
    padding-top: $container-vertical-padding;
    padding-bottom: $container-vertical-padding;
}

.fixed {
    line-height: inherit;
}

input {
    cursor: inherit;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

span {
    position: relative;
    z-index: 2;
}