<ui-dropdown [open]="open" (trigger)="trigger()" (escape)="escape()">
  <input type="text"
         [value]="text"
         [placeholder]="placeholder"
         [id]="forId"
         class="ui-input-raw"
         readonly
         [name]="name"
         [disabled]="disabled">
  <div class="ui-select-arrow">
    <span class="caret"></span>
  </div>
  <ui-dropdown-menu>
    <div class="ui-select-menu">
      <ng-content selector="ui-option"></ng-content>
    </div>
  </ui-dropdown-menu>
</ui-dropdown>