ui-dropdown-menu {
  display: block;
  background-color: rgba(255, 255, 255, .98);
  box-shadow: 0 10px 10px hsla(hue($color-default), saturation($color-default), lightness($color-default), .15);
  min-width: 160px;
  padding: 5px 0;
  border: 1px solid $color-gray-light;
  border-radius: $form-control-radius;
  transition-property: transform, opacity;
  transition-duration: .1s;
  transform: scaleY(0);
  opacity: 0;
  z-index: 100;
  position: fixed;
  overflow-y: auto;

  &.ui-open {
    transform: scaleY(1);
    opacity: 1
  }
}
