ui-nav {
  padding-left: $grid-column-padding;
  padding-right: $grid-column-padding;
  display: block;
  overflow: hidden;
  font-weight: 600;
  ui-nav {
    font-weight: 400;
    padding-left: 1em;
    font-size: .96em;
    padding-right: 0;
  }
  &.ui-thumbnail {
    padding-left: 0;
    padding-right: 0;
    width: 80px;
    &:hover {
      overflow: visible;
    }
  }
}
