ui-tool-bar {
  display: block;
  border-top: 1px solid $color-gray-light;
  border-bottom: 1px solid $color-gray-light;
  background-color: $color-light;
  padding: 8px $container-horizontal-padding;
}