ui-tooltip {
  display: none;
  position: fixed;
  z-index: $tooltip-z-index;
  white-space: nowrap;
  padding: 5px 10px;
  background-color: $tooltip-bg-color;
  color: $tooltip-text-color;
  border-radius: 4px;
  line-height: 20px;
  font-size: 12px;
  user-select: none;
  min-width: 50px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
  &.ui-show {
    display: block;
  }

  &.ui-top-left {
    transform: translateY(-100%);
    .ui-tooltip-bottom-arrow {
      left: 20px;
      display: inline-block;
    }
  }
  &.ui-top-center {
    transform: translateX(-50%) translateY(-100%);
    .ui-tooltip-bottom-arrow {
      left: 50%;
      display: inline-block;
    }
  }
  &.ui-top-right {
    transform: translateX(-100%) translateY(-100%);
    .ui-tooltip-bottom-arrow {
      left: auto;
      right: 10px;
      display: inline-block;
    }
  }
  &.ui-right-top {
    .ui-tooltip-right-arrow {
      top: 10px;
      display: inline-block;
    }
  }
  &.ui-right-center {
    transform: translateY(-50%);
    .ui-tooltip-right-arrow {
      top: 50%;
      display: inline-block;
    }
  }
  &.ui-right-bottom {
    transform: translateY(-100%);
    .ui-tooltip-right-arrow {
      top: auto;
      bottom: 1px;
      display: inline-block;
    }
  }
  &.ui-bottom-left {
    .ui-tooltip-top-arrow {
      left: 20px;
      display: inline-block;
    }
  }
  &.ui-bottom-center {
    transform: translateX(-50%);
    .ui-tooltip-top-arrow {
      left: 50%;
      display: inline-block;
    }
  }
  &.ui-bottom-right {
    transform: translateX(-100%);
    .ui-tooltip-top-arrow {
      left: auto;
      right: 10px;
      display: inline-block;
    }

  }
  &.ui-left-top {
    transform: translateX(-100%);
    .ui-tooltip-left-arrow {
      top: 10px;
      display: inline-block;
    }
  }
  &.ui-left-center {
    transform: translateX(-100%) translateY(-50%);
    .ui-tooltip-left-arrow {
      display: inline-block;
    }
  }
  &.ui-left-bottom {
    transform: translateX(-100%) translateY(-100%);
    .ui-tooltip-left-arrow {
      top: auto;
      bottom: 1px;
      display: inline-block;
    }
  }

}

.ui-tooltip-left-arrow {
  position: absolute;
  left: 100%;
  top: 50%;
  color: $tooltip-bg-color;
  transform: translateY(-50%);
  display: none;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-left: 5px dashed;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.ui-tooltip-right-arrow {
  position: absolute;
  right: 100%;
  top: 50%;
  color: $tooltip-bg-color;
  transform: translateY(-50%);
  display: none;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-right: 5px dashed;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.ui-tooltip-top-arrow {
  position: absolute;
  bottom: 100%;
  left: 50%;
  color: $tooltip-bg-color;
  transform: translateX(-50%);
  display: none;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 5px dashed;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.ui-tooltip-bottom-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  color: $tooltip-bg-color;
  transform: translateX(-50%);
  display: none;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 5px dashed;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}