.ui-modal {
  border-radius: 6px;
  overflow: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: $mask-z-index + 10;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 10px hsla(hue($color-default), saturation($color-default), lightness($color-default), .15);
  transform-origin: 0;
}

.ui-dialog {
  display: block;
  background-color: #fff;
  position: fixed;
  box-shadow: 0 10px 10px hsla(hue($color-default), saturation($color-default), lightness($color-default), .15);
  border-radius: 6px;
  overflow: hidden;
  z-index: $mask-z-index + 10;
  width: $dialog-width;
  left: 50%;
  margin-left: $dialog-width / -2;
  top: 50px;
}

.ui-dialog-title {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}

.ui-dialog-header {
  display: block;
  padding: 20px $container-horizontal-padding;
  min-height: 40px;
  border-bottom: 1px solid $color-light;
  > .ui-close {
    transform: translateY(-5px);
  }
}

.ui-dialog-content {
  display: block;
  padding: $container-horizontal-padding;
}

.ui-dialog-footer {
  display: block;
  padding: 10px $container-horizontal-padding;
  text-align: right;
  border-top: 1px solid $color-light;
  > .ui-btn {
    margin-left: 10px;
  }
}
