.ui-modal {
  border-radius: 6px;
  overflow: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: $mask-z-index + 10;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 10px hsla(hue($color-default), saturation($color-default), lightness($color-default), .15);
  transform-origin: 0;
}

.ui-dialog {
  display: block;
  background-color: #fff;
  position: fixed;
  box-shadow: 0 10px 10px hsla(hue($color-default), saturation($color-default), lightness($color-default), .15);
  border-radius: 6px;
  overflow: hidden;
  z-index: $mask-z-index + 10;
  width: $dialog-width;
  left: 50%;
  margin-left: $dialog-width / -2;
  top: 50px;
}

.ui-dialog-title {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}

.ui-dialog-header {
  display: block;
  padding: 20px $container-horizontal-padding;
  min-height: 40px;
  border-bottom: 1px solid $color-light;
  > .ui-close {
    transform: translateY(-5px);
  }
}

.ui-dialog-content {
  display: block;
  padding: $container-horizontal-padding;
}

.ui-dialog-footer {
  display: block;
  padding: 10px $container-horizontal-padding;
  text-align: right;
  border-top: 1px solid $color-light;
  > .ui-btn {
    margin-left: 10px;
  }
}


@mixin notify-theme($name, $color) {
  &.ui-#{$name} {
    > .ui-notify-icon {
      color: $color;
    }
    > .ui-notify-time-down-bar {
      background-color: rgba(red($color), green($color), blue($color), .5);
    }
  }
}

.ui-notify {
  position: fixed;
  z-index: $notify-z-index;
  top: 50px;
  left: 50%;
  margin-left: -180px;
}

.ui-notify-item {
  position: relative;
  width: 360px;
  padding: 15px $container-horizontal-padding;
  overflow: hidden;
  margin-bottom: 10px;
  box-shadow: 0 5px 10px hsla(hue($color-default), saturation($color-default), lightness($color-default), .25);
  display: flex;
  align-items: center;
  border: 1px solid $color-light;
  border-bottom: none;
  background-color: #fff;
  border-radius: $radius-base;
  @include notify-theme(default, $color-default);
  @include notify-theme(primary, $color-primary);
  @include notify-theme(info, $color-info);
  @include notify-theme(success, $color-success);
  @include notify-theme(warning, $color-warning);
  @include notify-theme(danger, $color-danger);
}

.ui-notify-icon {
  padding-right: 10px;
  display: flex;
  align-items: center;
  font-size: 22px;
}

.ui-notify-context {
  flex: 1;
  padding-right: 10px;
}

.ui-notify-close {
  position: absolute;
  top: 0;
  right: 0;
}

.ui-notify-time-down-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: hsla(hue($color-default), saturation($color-default), lightness($color-default), .5);
}
