<table ui-table (uiChecked)="show($event)" class="ui-table">
  <thead>
  <tr ui-table-selector>
    <th>标题</th>
    <th>内容</th>
  </tr>
  </thead>
  <tbody>
  <tr [ui-selectable]="item" *ngFor="let item of list; let i = index">
    <td>{{ item }}</td>
    <td><button type="button" (click)="remove(i)">remove</button></td>
  </tr>
  </tbody>
</table>

<ui-input type="range" showProgress="true"></ui-input>

<button type="button" (click)="add()">add</button>


<ui-select [(ngModel)]="value">
  <!--<ui-option *ngIf="list.length" value="fdsa">fdsa</ui-option>-->
  <ui-option *ngFor="let item of list" [value]="item">{{item}}</ui-option>
</ui-select>