ui-panel-header {
  display: block;
  padding-top: $container-horizontal-padding;
  padding-bottom: $container-horizontal-padding;
  border-bottom: 1px solid $color-light;
  &:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
}

.ui-panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 32px;
}