ui-tree-inner {
  display: block;
  position: relative;
  &:hover {
    background-color: rgba(0, 0, 0, .05);
  }
}

.ui-tree-inner-line {
  position: absolute;
  left: 0;
  width: 1em;
  top: 50%;
  border-bottom: 1px dotted $color-gray-light;
  transform: translateX(1em);
}

.ui-tree-inner-line2 {
  position: absolute;
  top: 0;
  bottom: 0;
  transform: translateX(1em);
  border-left: 1px dotted $color-gray-light;
}