ui-tree-expand {
  float: left;
  display: inline-block;
  vertical-align: middle;
  margin-left: -1.4em;
  color: $color-gray-dark;
  font-size: inherit;
  margin-top: 2px;
  height: 1em;
  width: 1.4em;
  ui-input[type=checkbox] {
    font-size: inherit;
    color: inherit;
    &:hover, &.ui-checked {
      color: inherit;
    }
  }
}