ui-nav-inner {
  display: flex;
  padding: 8px $container-horizontal-padding;
  cursor: pointer;
  position: relative;
  transition: all .2s;
  &:hover {
    color: $color-primary;
  }
  &.ui-open {
    > .ui-nav-inner-arrow {
      transform: rotateZ(90deg);
    }
  }
  &.ui-active {
    background-color: rgba(red($color-primary), green($color-primary), blue($color-primary), 0.1);
    color: $color-primary;
    &:after {
      transform: scaleY(1);
    }
  }
  &:after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: $color-primary;
    top: 0;
    bottom: 0;
    right: 0;
    transition: transform .2s;
    transform: scaleY(0);
  }
}

.ui-nav-inner {
  flex: 1;
}

.ui-nav-inner-arrow {
  transform-origin: 50%;
  transition: transform .2s;
  width: 1em;
  font-size: 12px;
  margin-left: 10px;
  color: $color-gray;
}

