ui-nav-inner {
  display: flex;
  padding: 10px $container-horizontal-padding;
  cursor: pointer;
  position: relative;
  transition: all .2s;
  &:hover {
    color: $color-primary;
    background-color: rgba(0, 0, 0, .04);
  }
  &.ui-open {
    > .ui-nav-inner-arrow {
      color: $color-primary;;
      > span {
        transform: rotateZ(0deg);
      }
    }
  }
  .ui-nav-inner-arrow {
    color: inherit;
    > span {
      transform: rotateZ(-90deg);
    }
  }
  &.ui-active {
    background-color: rgba(0, 0, 0, 0.06);
    color: $color-primary;
    &:before {
      transform: scaleY(1);
    }
  }
  &:before {
    content: "";
    position: absolute;
    width: 4px;
    background-color: $color-primary;
    top: 0;
    bottom: 0;
    left: 0;
    transition: transform .2s;
    transform: scaleY(0);
  }
}

.ui-nav-inner {
  flex: 1;
}

.ui-nav-inner-arrow {
  width: 1em;
  font-size: 12px;
  margin-left: 10px;
  color: $color-gray;
  > span {
    display: inline-block;
    transition: transform .2s;
  }
}

