@import "../../../../src/assets/scss/varibles";
.nav {
    width: 200px;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    background-color: $border-color-lighter;
}

.content {
    margin-left: 200px;
}