// 全局配置
$font-size-base: 14px !default; // 基础文字大小
$line-height: 1.428 !default;
$is-open-radius: true !default;

// 辅助配置
$container-vertical-padding: 6px !default;

$notify-z-index: 1000 !default;
$toolbar-z-index: 1100 !default;
$confirm-z-index: 1200 !default;
$view-loading-bar-z-index: 1300 !default;

// 基础颜色
$color-darker: #000 !default; // 标题颜色
$color-dark: #333 !default; // 正文颜色
$color-gray-dark: #80848f !default; // 图标、icon颜色
$color-gray: #bbbec4 !default; // 表单边框颜色
$color-gray-light: #dddee1 !default; // 内边线颜色
$color-light: #e9eaec !default; // 布局边框颜色
$color-lighter: #f5f5f5 !default; // 背景颜色

$color-default: $color-dark !default;
$color-primary: #2d8cf0 !default; // 主色调
$color-info: #6ad1ec !default; // 信息提示颜色
$color-success: #19be6b !default; // 正向操作提示颜色
$color-warning: #ff9900 !default; // 负面操作警告颜色
$color-danger: #ed3f14 !default; // 危险操作警告颜色

// 基础线条颜色配置
//$border-color-base: lighten($color-default, 22) !default;
//$border-color-light: lighten($border-color-base, 20) !default;
//$border-color-lighter: lighten($border-color-light, 28) !default;

// 栅格化配置
$grid-columns: 12 !default; // 栅格列数
$grid-column-padding: 15px !default; // 每列的距离

// 媒体查询配置
$screen-xs-min: 320px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;

// 盒模型圆角配置
$radius-base: 4px !default; // 基本圆角
$radius-sm: $radius-base - 1px !default; // 小圆角
$radius-xs: $radius-sm !default; // 更小的圆角
$radius-lg: $radius-base + 2px !default; // 大圆角

// 表单
$form-control-padding-vertical: 5px !default;
$form-control-padding-vertical-sm: $form-control-padding-vertical - 3px !default;
$form-control-padding-vertical-lg: $form-control-padding-vertical + 2px !default;

$form-control-padding-horizontal: 12px !default;
$form-control-padding-horizontal-sm: $form-control-padding-horizontal - 4px !default;
$form-control-padding-horizontal-lg: $form-control-padding-horizontal + 4px !default;

$form-control-radius-is-open: $is-open-radius !default;
$form-control-radius: $radius-base !default;
$form-control-radius-lg: $radius-lg !default;
$form-control-radius-sm: $radius-sm !default;

$form-control-font-size-base: $font-size-base !default;
$form-control-font-size-sm: $form-control-font-size-base - 1px !default;
$form-control-font-size-lg: $form-control-font-size-base + 4px !default;

$form-control-border-color: $color-gray !default;
$form-control-border-color-primary: $color-primary !default;
$form-control-border-color-success: $color-success !default;
$form-control-border-color-info: $color-info !default;
$form-control-border-color-warning: $color-warning !default;
$form-control-border-color-danger: $color-danger !default;

// 按扭
$button-padding-vertical: 5px !default;
$button-padding-vertical-sm: $button-padding-vertical - 3px !default;
$button-padding-vertical-xs: $button-padding-vertical-sm - 1px !default;
$button-padding-vertical-lg: $button-padding-vertical + 2px !default;

$button-padding-horizontal: 12px !default;
$button-padding-horizontal-sm: $button-padding-horizontal - 4px !default;
$button-padding-horizontal-xs: $button-padding-horizontal - 2px !default;
$button-padding-horizontal-lg: $button-padding-horizontal + 4px !default;

$button-radius-is-open: $is-open-radius !default;
$button-radius: $radius-base !default;
$button-radius-sm: $radius-sm !default;
$button-radius-xs: $radius-xs !default;
$button-radius-lg: $radius-lg !default;

$button-font-size: $font-size-base !default;
$button-font-size-sm: $button-font-size - 1px !default;
$button-font-size-xs: $button-font-size-sm - 1px !default;
$button-font-size-lg: $button-font-size + 4px !default;

//

// 分页控件
$pagination-radius-is-open: $is-open-radius !default;
$pagination-radius: $radius-base !default;
$pagination-radius-sm: $pagination-radius - 1px !default;
$pagination-radius-xs: $pagination-radius-sm - 1px !default;
$pagination-radius-lg: $pagination-radius + 2px !default;

$pagination-padding-vertical: 5px !default;
$pagination-padding-vertical-sm: $pagination-padding-vertical - 3px !default;
$pagination-padding-vertical-xs: $pagination-padding-vertical-sm - 1px !default;
$pagination-padding-vertical-lg: $pagination-padding-vertical + 2px !default;

$pagination-padding-horizontal: 12px !default;
$pagination-padding-horizontal-sm: $pagination-padding-horizontal - 3px !default;
$pagination-padding-horizontal-xs: $pagination-padding-horizontal-sm - 1px !default;
$pagination-padding-horizontal-lg: $pagination-padding-horizontal + 2px !default;

$pagination-font-size: $font-size-base !default;
$pagination-font-size-sm: $pagination-font-size - 1px !default;
$pagination-font-size-xs: $pagination-font-size-sm - 1px !default;
$pagination-font-size-lg: $pagination-font-size + 4px !default;

$pagination-border-color: lighten($color-gray-light, 5) !default;
$pagination-disabled-color: darken($pagination-border-color, 15) !default;
$pagination-disabled-bg-color: lighten($pagination-border-color, 7) !default;
$pagination-hover-bg-color: lighten($pagination-border-color, 2) !default;

// 表格
$table-cell-padding: 8px !default;
$table-border-color: $color-gray-light !default;

// 列表
$list-item-hover-bg: $color-lighter !default;
$list-item-vertical-padding: .6em !default;
$list-item-horizontal-padding: $grid-column-padding !default;
$list-title-vertical-padding: .2em !default;
$list-title-horizontal-padding: $grid-column-padding !default;

// code
$code-font-family: "Microsoft YaHei Mono", Menlo, Monaco, Consolas, "Courier New", monospace !default;
$code-color: $color-danger !default;
$code-bg: $color-light !default;

$kbd-color: #fff !default;
$kbd-bg: $color-darker !default;

$pre-bg: $color-lighter !default;
$pre-color: $color-default !default;
$pre-border-color: $color-gray-light !default;
$pre-scrollable-max-height: 340px !default;

// panel
$panel-radius-is-open: $is-open-radius !default;
$panel-radius: $radius-base !default;

$panel-border-color: $color-light !default;

// 模拟radio/checkbox
$ui-input-focus-box-shadow-color: hsla(hue($color-gray-light), saturation($color-gray-light), lightness($color-gray-light), .5) !default;

// confirm
$confirm-radius-is-open: $is-open-radius !default;

$confirm-width: 300px !default;
$confirm-height: 220px !default;

// notify
$notify-radius-is-open: $is-open-radius !default;

$notify-width: 340px !default;
$notify-height: 140px !default;

// toolbar
$toolbar-width: 40px !default;

// editor
$editor-radius-is-open: $is-open-radius !default;
$editor-selection-color: rgba(red($color-primary), green($color-primary), blue($color-primary), .2) !default;
