<div class="container">
  <div>
    <label for="test">label</label>
    <ui-input forId="test" type="radio" name="test"></ui-input>
  </div>
  <div>
    <label for="test1">label</label>
    <ui-input forId="test1" type="radio" name="test"></ui-input>
  </div>
  <div>
    <label for="test2">label</label>
    <ui-input forId="test2" type="radio" name="test"></ui-input>
  </div>

  <div>
    <label for="test3">label</label>
    <ui-input forId="test3" type="checkbox" name="test3"></ui-input>
  </div>
  <div>
    <label for="test4">label</label>
    <ui-input forId="test4" type="checkbox" name="test4"></ui-input>
  </div>
  <div>
    <label for="test5">label</label>
    <ui-input forId="test5" type="checkbox" name="test5"></ui-input>
  </div>
  <div>
    <label for="test6">label</label>
    <p></p>
    <ui-input forId="test6" [minDate]="'2018-3-2'" class="form-control input-lg" type="date" name="test6"></ui-input>


  </div>
<br>
  <div class="form-inline">
    <ui-select class="form-control primary top">
      <ui-option>dsaf</ui-option>
      <ui-option>dsaffdsa</ui-option>
    </ui-select>
  </div>
</div>