<ui-app>
  <ui-tab>
    <ui-tab-view>
      <ui-tab-view-item>
        <ui-page>
          <ui-header></ui-header>
          <ui-content>
            fdasfdsa
          </ui-content>
          <ui-footer></ui-footer>
        </ui-page>
      </ui-tab-view-item>
      <ui-tab-view-item>
        <ui-page>
          <ui-header></ui-header>
          <ui-content></ui-content>
          <ui-footer></ui-footer>
        </ui-page>
      </ui-tab-view-item>
    </ui-tab-view>
    <ui-tab-bar>
      <ui-tab-bar-item>1</ui-tab-bar-item>
      <ui-tab-bar-item>1</ui-tab-bar-item>
      <ui-tab-bar-item>1</ui-tab-bar-item>
      <ui-tab-bar-item>1</ui-tab-bar-item>
    </ui-tab-bar>
  </ui-tab>
</ui-app>

