<div class="container">
  <br>
  <div class="input-group">
    <div class="input-addon">a</div>
    <input type="text" class="form-control">
    <div class="input-addon">f</div>
  </div>
  <br>
  <div class="input-group primary input-lg">
    <div class="input-addon">a</div>
    <input type="text" class="form-control">
    <div class="input-addon">f</div>
  </div>
  <br>
  <div class="input-group info">
    <div class="input-addon">a</div>
    <input type="text" class="form-control">
    <div class="input-addon">f</div>
  </div>
  <br>
  <div class="input-group success">
    <div class="input-addon">a</div>
    <input type="text" class="form-control">
    <div class="input-addon">f</div>
  </div>
  <br>
  <div class="input-group warning">
    <div class="input-addon">a</div>
    <input type="text" class="form-control">
    <div class="input-addon">f</div>
  </div>
  <br>
  <div class="input-group danger">
    <ui-input type="date" class="form-control"></ui-input>
  </div>
</div>