* {
  box-sizing: border-box;
  outline: none;
}

body {
  color: #333;
  font-size: $font-size-base;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}