@mixin tag($type, $color) {
  &-#{$type} {
    color: #fff;
    background-color: $color;
    border: 1px solid $color;
    &.ui-tag-outline {
      @if $type == info {
        color: darken($color, 20);
      } @else if ($type == gray) {
        color: darken($color, 20);
      } @else {
        color: $color;
      }
      border: 1px solid $color;
      background-color: rgba(red($color), green($color), blue($color), .1);
    }
  }
}

.ui-tag {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
  &-light {
    color: $color-dark;
    background-color: $color-light;
    border: 1px solid $color-light;
    &.ui-tag-outline {
      border: 1px solid $color-light;
      background-color: #fff;
    }
  }
  @include tag(gray, $color-gray);
  @include tag(dark, $color-dark);
  @include tag(primary, $color-primary);
  @include tag(info, $color-info);
  @include tag(success, $color-success);
  @include tag(warning, $color-warning);
  @include tag(danger, $color-danger);

  &.ui-tag-circle {
    border-radius: 1em;
  }
}
