ui-tab-button {
  display: inline-block;
  cursor: pointer;
  padding: 12px $container-horizontal-padding;
  position: relative;
  outline: none;
  &.ui-active {
    font-weight: 600;
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      border-bottom: 3px solid $color-primary;
    }
  }
  &:hover {
    font-weight: 600;
  }
  &:focus:not(.ui-active):not(:active) {
    @include focus($color-primary);
  }
}