<ui-app>
  <div>
    <ui-input-group>
      <input type="text" uiInput>
      <button class="ui-btn ui-btn-dark" title="复制业务ID">
        <span class="icon-copy">B</span>
      </button>
    </ui-input-group>&nbsp;
    <ui-btn-group>
      <button type="button" class="ui-btn ui-btn-default"><span class="icon-pencil">B</span></button>
      <button class="ui-btn ui-btn-danger">
        <span class="icon-bin">B</span>
      </button>&nbsp;
    </ui-btn-group>
    <ui-btn-group >
      <button class="ui-btn ui-btn-default" uiTooltip="增加子业务">
        <span class="icon-plus">B</span>
      </button>
      <button class="ui-btn ui-btn-default" uiTooltip="分配接口">
        <span class="icon-forward">B</span>
      </button>
    </ui-btn-group>
  </div>
  <p>
    <input placeholder="test">
    <ui-dropdown-input placeholder="test"></ui-dropdown-input>
  </p>
  <p>
    <ui-input type="date" placeholder="test"></ui-input>
  </p>

</ui-app>
