<ui-app>
  <p>
    <button class="ui-btn ui-btn-primary" (click)="show()">button</button>
  </p>
  <div>
    <ui-select>
      <ui-option>aaa</ui-option>
      <ui-option>bbb</ui-option>
      <ui-option>ccc</ui-option>
    </ui-select>
  </div>
  <p></p>
  <div>
    <ui-select>
      <ui-option>aaa</ui-option>
      <ui-option>bbb</ui-option>
      <ui-option>ccc</ui-option>
    </ui-select>
  </div>
  <p>
    <ui-input type="date"></ui-input>
  </p>
  <p>
    <ui-input type="date"></ui-input>
  </p>
</ui-app>
