<ui-container>
  <ui-tree-container>
  <ui-tree open="true">
    <ui-tree-item>
      <ui-tree-inner>
        <ui-tree-selector></ui-tree-selector>
        <span>1</span></ui-tree-inner>
      <ui-tree>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>1</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>2</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>3</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>4</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
      </ui-tree>
    </ui-tree-item>
    <ui-tree-item>
      <ui-tree-inner>
        <ui-tree-selector></ui-tree-selector>
        <span>2</span></ui-tree-inner>
      <ui-tree>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>1</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>2</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>3</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>4</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
      </ui-tree>
    </ui-tree-item>
    <ui-tree-item>
      <ui-tree-inner>
        <ui-tree-selector></ui-tree-selector>
        <span>3</span></ui-tree-inner>
      <ui-tree>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>1</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>2</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>3</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>4</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
      </ui-tree>
    </ui-tree-item>
    <ui-tree-item>
      <ui-tree-inner>
        <ui-tree-selector></ui-tree-selector>
        <span>4</span></ui-tree-inner>
      <ui-tree>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>1</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>2</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>3</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>4</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
      </ui-tree>
    </ui-tree-item>
    <ui-tree-item>
      <ui-tree-inner>
        <ui-tree-selector></ui-tree-selector>
        <span>5</span></ui-tree-inner>
      <ui-tree>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>1</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>2</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>3</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
        <ui-tree-item>
          <ui-tree-inner>
            <ui-tree-selector></ui-tree-selector>
            <span>4</span></ui-tree-inner>
          <ui-tree>
            <ui-tree-item>
              <ui-tree-inner>1+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>2+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>3+1</ui-tree-inner>
            </ui-tree-item>
            <ui-tree-item>
              <ui-tree-inner>4+1</ui-tree-inner>
            </ui-tree-item>
          </ui-tree>
        </ui-tree-item>
      </ui-tree>
    </ui-tree-item>
  </ui-tree>
  </ui-tree-container>
</ui-container>