ui-scroll {
  width: 400px;
  height: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  //&:hover {
  //  background-color: #0f0;
  //}
}

p {
  width: 600px;
  background-color: #ff9900;

}
