@mixin btn-size($name, $v, $h, $font-size, $radius) {
  &.btn-#{$name} {
    padding: $v $h;
    font-size: $font-size;
    @if $button-radius-is-open {
      border-radius: $radius;
    }
  }
}

@mixin btn-theme($name, $color, $bg-color) {
  &.btn-#{$name} {
    color: $color;
    background-color: $bg-color;
    @if $name != default {
      border: 1px solid $bg-color;
    }
    &:hover {
      background-color: lighten($bg-color, 2);
    }
    &:focus {
      background-color: darken($bg-color, 1);
    }
    &:active {
      background-color: darken($bg-color, 5);
    }
    &.disabled, &[disabled], &[readonly] {
      opacity: .5;
      cursor: not-allowed;
      &:focus, &:hover, &:active {
        background-color: $bg-color;
      }
    }
  }
}

@mixin btn-group($name, $paddingX, $paddingY, $font-size, $radius) {
  &.btn-group-#{$name} {
    > .btn, > .btn-group > .btn {
      @include input-size($paddingY, $paddingX, 0, $font-size);
    }
    @if $button-radius-is-open {
      > .btn:first-child, > .btn-group:first-child > .btn:first-of-type {
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
      }
      > .btn:last-child, > .btn-group:last-child > .btn:last-of-type {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
      }
    }
  }
}

.btn {
  display: inline-block;
  border: 1px solid $color-gray;
  font-size: $button-font-size;
  cursor: pointer;
  line-height: $line-height;
  text-align: center;
  padding: $button-padding-vertical $button-padding-horizontal;
  text-decoration: none;

  @if $button-radius-is-open {
    border-radius: $button-radius;
  }

  @include btn-size(sm, $button-padding-vertical-sm, $button-padding-horizontal-sm, $button-font-size-sm, $button-radius-sm);
  @include btn-size(xs, $button-padding-vertical-xs, $button-padding-horizontal-xs, $button-font-size-xs, $button-radius-sm);
  @include btn-size(lg, $button-padding-vertical-lg, $button-padding-horizontal-lg, $button-font-size-lg, $button-radius-lg);

  @include btn-theme(default, $color-default, #fff);
  @include btn-theme(primary, #fff, $color-primary);
  @include btn-theme(success, #fff, $color-success);
  @include btn-theme(info, #fff, $color-info);
  @include btn-theme(danger, #fff, $color-danger);
  @include btn-theme(warning, #fff, $color-warning);
  &.disabled, &[disabled], &[readonly] {
    opacity: .5;
    cursor: not-allowed;
  }
  &[readonly] {
    cursor: default;
  }
  &.btn-block {
    width: 100%;
    display: block;
  }
}

.btn-group {
  position: relative;
  display: inline-block;
  > .btn {
    border-radius: 0;
    margin-left: -1px;
    &:first-child {
      margin-left: 0;
    }
    @if $button-radius-is-open {
      &:first-child {
        border-top-left-radius: $button-radius;
        border-bottom-left-radius: $button-radius;
      }
      &:last-child {
        border-top-right-radius: $button-radius;
        border-bottom-right-radius: $button-radius;
      }
    }
  }

  > .btn-group {
    margin-left: -1px;
    &:first-child {
      margin-left: 0;
    }
    > .btn {
      border-radius: 0;
    }
    @if $button-radius-is-open {
      &:first-child > .btn:first-of-type {
        border-top-left-radius: $button-radius;
        border-bottom-left-radius: $button-radius;
      }
      &:last-child > .btn:last-of-type {
        border-top-right-radius: $button-radius;
        border-bottom-right-radius: $button-radius;
      }
    }
  }
  @include btn-group(xs, $button-padding-horizontal-xs, $button-padding-vertical-xs, $button-font-size-xs, $button-radius-xs);
  @include btn-group(sm, $button-padding-horizontal-sm, $button-padding-vertical-sm, $button-font-size-sm, $button-radius-sm);
  @include btn-group(lg, $button-padding-horizontal-lg, $button-padding-vertical-lg, $button-font-size-lg, $button-radius-lg);
}