@import "~highlight.js/styles/github.css";

code, pre {
  background-color: #f6f8fa;
}

pre code {
  padding: 0;
  border: none;
  border-radius: 0;
  vertical-align: inherit;
}

code {
  padding: 1px 5px;
  border-radius: 3px;
  border: 1px solid $color-light;
  vertical-align: middle;
}

pre {
  line-height: 1.418em;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid $color-light;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;

}

code, kbd, pre, samp {
  font-family: Microsoft YaHei Mono,Menlo,Monaco,Consolas,Courier New,monospace;
}
