.ui-form {
  padding: 20px;
  overflow: hidden;

  > .ui-row {
    margin-left: 0;
    margin-right: 0;

    > [class^="ui-col-"], > [class*=" ui-col-"] {
      padding: 0;
    }
  }

  &.ui-form-flow {
    display: block;

    .ui-form-group {
      display: block;

      > .ui-control-label, .ui-control-value, .ui-control-static {
        text-align: left;
        display: block;
      }
    }
  }

  &.ui-form-inline {
    padding-top: 5px;
    padding-bottom: 5px;

    .ui-form-group {
      display: inline-block;
      margin-right: 20px;
      vertical-align: top;
      margin-bottom: 0;
      white-space: normal;
      width: auto;

      > .ui-control-label, .ui-control-value, .ui-control-static {
        text-align: left;
      }
    }
  }
}

.ui-form-group {
  margin-bottom: 20px;
  display: table;
  width: 100%;
  @mixin grid($class) {
    @for $i from 1 through $grid-columns {
      .ui-col-#{$class}-#{$i} {
        float: none;
      }
    }
  }
  @mixin grid-responsive($class, $screen) {
    @media (min-width: $screen) {
      @include grid($class);
    }
  }
  @include grid(xs);
  @include grid-responsive(sm, $screen-sm-min);
  @include grid-responsive(md, $screen-md-min);
  @include grid-responsive(lg, $screen-lg-min);
  @include grid-responsive(xl, $screen-xl-min);
}

.ui-control-label {
  display: table-cell;
  text-align: right;
  padding-right: 10px;
  padding-top: $form-control-padding-vertical;
  padding-bottom: $form-control-padding-vertical;

  &-sm {
    padding-top: $form-control-padding-vertical-sm;
    padding-bottom: $form-control-padding-vertical-sm;
  }

  &-lg {
    padding-top: $form-control-padding-vertical-lg + 2;
    padding-bottom: $form-control-padding-vertical-lg + 2;
  }

  &-compact {
    line-height: 1;
  }

  > small {
    font-size: .8em;
    opacity: .9;
  }

  &-thick {
    font-weight: bold;
  }

  &-thin {
    font-weight: 300;
  }
}

.ui-control-static {
  padding-top: $form-control-padding-vertical;
  padding-bottom: $form-control-padding-vertical;

  &-sm {
    padding-top: $form-control-padding-vertical-sm;
    padding-bottom: $form-control-padding-vertical-sm;
  }

  &-lg {
    padding-top: $form-control-padding-vertical-lg + 2;
    padding-bottom: $form-control-padding-vertical-lg + 2;
  }
}

.ui-control-value, .ui-control-static {
  margin: 0;
  display: table-cell;

  > .ui-form-control, > ui-select, > ui-input[type=date], ui-input-group {
    width: 100%;
  }

  > label {
    display: inline-block;
    cursor: pointer;

    > ui-input {
      vertical-align: top;
    }
  }
}

.ui-btn-wrap {
  padding-top: 10px;
  padding-bottom: 10px;
  @include clearfix;
}
