.ui-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.ui-close {
  background: none;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  outline: none;
  &:after {
    content: "\e636";
    font-family: "tanbo-ui";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &:hover {
    opacity: .5;
  }
}

.ui-hidden {
  display: none;
}

@for $i from 1 through 24 {
  .ui-width-#{$i}em {
    width: #{$i}em;
  }
}
