ui-input-group {
  position: relative;
  display: inline-flex;
  font-size: $form-control-font-size-base;
  > .ui-form-control {
    flex: 1;
  }
  > .ui-form-control, .ui-select-input, > ui-input-addon, > .ui-btn {
    border-radius: 0;
  }
  > .ui-form-control, > ui-input-addon {
    &:not(:first-child) {
      margin-left: -1px;
    }
    &:first-child {
      border-top-left-radius: $form-control-radius;
      border-bottom-left-radius: $form-control-radius;
      .ui-select-input {
        border-top-left-radius: $form-control-radius;
        border-bottom-left-radius: $form-control-radius;
      }
    }
    &:last-child {
      border-top-right-radius: $form-control-radius;
      border-bottom-right-radius: $form-control-radius;
      .ui-select-input {
        border-top-right-radius: $form-control-radius;
        border-bottom-right-radius: $form-control-radius;
      }
    }
  }
  > .ui-btn-group, > ui-dropdown {
    &:not(:first-child) {
      margin-left: -1px;
    }
    > .ui-btn {
      border-radius: 0;
    }
    &:first-child > .ui-btn:first-of-type {
      border-top-left-radius: $button-radius;
      border-bottom-left-radius: $button-radius;
    }
    &:last-child > .ui-btn:last-of-type {
      border-top-right-radius: $button-radius;
      border-bottom-right-radius: $button-radius;
    }
  }
  > .ui-btn {
    &:first-child {
      border-top-left-radius: $button-radius;
      border-bottom-left-radius: $button-radius;
    }
    &:last-child {
      border-top-right-radius: $button-radius;
      border-bottom-right-radius: $button-radius;
    }
  }
  &.ui-input-group-sm {
    font-size: $form-control-font-size-sm;
    > .ui-form-control {
      @include input-size($form-control-padding-vertical-sm, $form-control-padding-horizontal-sm, 0, $form-control-font-size-sm);
      &:first-child .ui-select-input {
        border-top-left-radius: $form-control-radius-sm;
        border-bottom-left-radius: $form-control-radius-sm;
      }
      &:last-child .ui-select-input {
        border-top-right-radius: $form-control-radius-sm;
        border-bottom-right-radius: $form-control-radius-sm;
      }
    }
    > .ui-form-control, > ui-input-addon {
      &:first-child {
        border-top-left-radius: $form-control-radius-sm;
        border-bottom-left-radius: $form-control-radius-sm;
      }
      &:last-child {
        border-top-right-radius: $form-control-radius-sm;
        border-bottom-right-radius: $form-control-radius-sm;
      }
    }
    > .ui-btn {
      &:first-child {
        border-top-left-radius: $button-radius-sm;
        border-bottom-left-radius: $button-radius-sm;
      }
      &:last-child {
        border-top-right-radius: $button-radius-sm;
        border-bottom-right-radius: $button-radius-sm;
      }
    }
    > .ui-btn-group, > ui-dropdown {
      &:first-child > .ui-btn:first-of-type {
        border-top-left-radius: $button-radius-sm;
        border-bottom-left-radius: $button-radius-sm;
      }
      &:last-child > .ui-btn:last-of-type {
        border-top-right-radius: $button-radius-sm;
        border-bottom-right-radius: $button-radius-sm;
      }
    }
  }
  &.ui-input-group-lg {
    font-size: $form-control-font-size-lg;
    > .ui-form-control {
      @include input-size($form-control-padding-vertical-lg, $form-control-padding-horizontal-lg, 0, $form-control-font-size-lg);
      &:first-child .ui-select-input {
        border-top-left-radius: $form-control-radius-lg;
        border-bottom-left-radius: $form-control-radius-lg;
      }
      &:last-child .ui-select-input {
        border-top-right-radius: $form-control-radius-lg;
        border-bottom-right-radius: $form-control-radius-lg;
      }
    }
    > .ui-form-control, > ui-input-addon {
      &:first-child {
        border-top-left-radius: $form-control-radius-lg;
        border-bottom-left-radius: $form-control-radius-lg;
      }
      &:last-child {
        border-top-right-radius: $form-control-radius-lg;
        border-bottom-right-radius: $form-control-radius-lg;
      }
    }
    > .ui-btn {
      &:first-child {
        border-top-left-radius: $button-radius-lg;
        border-bottom-left-radius: $button-radius-lg;
      }
      &:last-child {
        border-top-right-radius: $button-radius-lg;
        border-bottom-right-radius: $button-radius-lg;
      }
    }
    > .ui-btn-group, > ui-dropdown {
      &:first-child > .ui-btn:first-of-type {
        border-top-left-radius: $button-radius-lg;
        border-bottom-left-radius: $button-radius-lg;
      }
      &:last-child > .ui-btn:last-of-type {
        border-top-right-radius: $button-radius-lg;
        border-bottom-right-radius: $button-radius-lg;
      }
    }
  }
}