.ui-form-control {
  position: relative;
  outline: none;
  background-color: #fff;
  @include input-style($form-control-border-color, $form-control-border-color-primary);
  @include input-size($form-control-padding-vertical, $form-control-padding-horizontal, $form-control-radius, $form-control-font-size-base);

  &.ng-touched.ng-invalid {
    box-shadow: none;
    border-color: $form-control-border-color-warning;
  }
}

.ui-input-sm {
  @include input-size($form-control-padding-vertical-sm, $form-control-padding-horizontal-sm, $form-control-radius-sm, $form-control-font-size-sm);
}

.ui-input-lg {
  @include input-size($form-control-padding-vertical-lg, $form-control-padding-horizontal-lg, $form-control-radius-lg, $form-control-font-size-lg);
}

.ui-input-block {
  display: block;
  width: 100%;
}


