<br>
<div class="ui-alert">
  当 displayFormat 为空时，以 format 的值为准。即当 format 和 displayFormat 一样时，只传入 format 属性即可。
</div>
<div class="ui-alert ui-alert-default">
  当 displayFormat 为空时，以 format 的值为准。即当 format 和 displayFormat 一样时，只传入 format 属性即可。
</div>
<div class="ui-alert ui-alert-primary">
  当 displayFormat 为空时，以 format 的值为准。即当 format 和 displayFormat 一样时，只传入 format 属性即可。
</div>
<div class="ui-alert ui-alert-success">
  当 displayFormat 为空时，以 format 的值为准。即当 format 和 displayFormat 一样时，只传入 format 属性即可。
</div>
<div class="ui-alert ui-alert-info">
  当 displayFormat 为空时，以 format 的值为准。即当 format 和 displayFormat 一样时，只传入 format 属性即可。
</div>
<div class="ui-alert ui-alert-warning">
  当 displayFormat 为空时，以 format 的值为准。即当 format 和 displayFormat 一样时，只传入 format 属性即可。
</div>
<div class="ui-alert ui-alert-danger">
  当 displayFormat 为空时，以 format 的值为准。即当 format 和 displayFormat 一样时，只传入 format 属性即可。
</div>
<div class="ui-alert ui-alert-dark">
  当 displayFormat 为空时，以 format 的值为准。即当 format 和 displayFormat 一样时，只传入 format 属性即可。
</div>
<div class="ui-alert ui-alert-gray">
  当 displayFormat 为空时，以 format 的值为准。即当 format 和 displayFormat 一样时，只传入 format 属性即可。
</div>

<div class="ui-alert ui-alert-fill ui-alert-default">
  当 displayFormat 为空时，以 format 的值为准。即当 format 和 displayFormat 一样时，只传入 format 属性即可。
</div>
<div class="ui-alert ui-alert-fill ui-alert-primary">
  当 displayFormat 为空时，以 format 的值为准。即当 format 和 displayFormat 一样时，只传入 format 属性即可。
</div>
<div class="ui-alert ui-alert-fill ui-alert-success">
  当 displayFormat 为空时，以 format 的值为准。即当 format 和 displayFormat 一样时，只传入 format 属性即可。
</div>
<div class="ui-alert ui-alert-fill ui-alert-info">
  当 displayFormat 为空时，以 format 的值为准。即当 format 和 displayFormat 一样时，只传入 format 属性即可。
</div>
<div class="ui-alert ui-alert-fill ui-alert-warning">
  当 displayFormat 为空时，以 format 的值为准。即当 format 和 displayFormat 一样时，只传入 format 属性即可。
</div>
<div class="ui-alert ui-alert-fill ui-alert-danger">
  当 displayFormat 为空时，以 format 的值为准。即当 format 和 displayFormat 一样时，只传入 format 属性即可。
  <button type="button" class="ui-close">&times;</button>
</div>
<div class="ui-alert ui-alert-fill ui-alert-dark">
  当 displayFormat 为空时，以 format 的值为准。即当 format 和 displayFormat 一样时，只传入 format 属性即可。
</div>
<div class="ui-alert ui-alert-fill ui-alert-gray">
  当 displayFormat 为空时，以 format 的值为准。即当 format 和 displayFormat 一样时，只传入 format 属性即可。
</div>

<ui-modal>
  <ui-modal-header class="ui-success">
    标题
    <button type="button" class="ui-close">&times;</button>
  </ui-modal-header>
</ui-modal>

<table class="ui-table ui-table-bordered">
  <thead>
  <tr>
    <th>name</th>
    <th>name</th>
    <th>age</th>
  </tr>
  <tr>
    <th>name</th>
    <th>name</th>
    <th>age</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>张三</td>
    <td>张三</td>
    <td>34</td>
  </tr>
  <tr>
    <td>李四</td>
    <td>李四</td>
    <td>34</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td>fdsa</td>
    <td>fdsa</td>
    <td>fdsafdsa</td>
  </tr>
  </tfoot>
</table>
