<ui-tree>
  <ui-tree-item>
    <ui-tree-inner>文本一</ui-tree-inner>
  </ui-tree-item>
  <ui-tree-item>
    <ui-tree-inner>文本二</ui-tree-inner>
  </ui-tree-item>
  <ui-tree-item>
    <ui-tree-inner>
      <ui-tree-expand></ui-tree-expand>
      文本三
    </ui-tree-inner>
    <ui-tree>
      <ui-tree-item>
        <ui-tree-inner>文本a</ui-tree-inner>
      </ui-tree-item>
      <ui-tree-item>
        <ui-tree-inner>文本b</ui-tree-inner>
      </ui-tree-item>
      <ui-tree-item>
        <ui-tree-inner>文本c</ui-tree-inner>
      </ui-tree-item>
    </ui-tree>
  </ui-tree-item>
</ui-tree>
