<div style="padding-top: 40px;">
  <ui-picker [data]="list" placeholder="test" [dataProvide]="getChildren"></ui-picker>
</div>
<br>
<br>
<br>
<div class="ui-row">
  <div class="ui-col-md-6">
    <ui-input-group size="sm">
      <ui-input-addon><span class="icon-filter"></span></ui-input-addon>
      <ui-select placeholder="请选择用户类型">
        <ui-option>企业用户</ui-option>
        <ui-option>个人用户</ui-option>
      </ui-select>
      <button type="button" class="ui-btn ui-btn-primary">button</button>
    </ui-input-group>
    <br>
    <br>
    <ui-input-group>
      <ui-input-addon><span class="icon-filter"></span></ui-input-addon>
      <ui-select placeholder="请选择用户类型">
        <ui-option>企业用户</ui-option>
        <ui-option>个人用户</ui-option>
      </ui-select>
      <button type="button" class="ui-btn ui-btn-primary">button</button>
    </ui-input-group>
    <br>
    <br>
    <ui-input-group size="lg">
      <ui-input-addon><span class="icon-filter"></span></ui-input-addon>
      <ui-select placeholder="请选择用户类型">
        <ui-option>企业用户</ui-option>
        <ui-option>个人用户</ui-option>
      </ui-select>
      <button type="button" class="ui-btn ui-btn-primary">button</button>
    </ui-input-group>
  </div>
  <div class="ui-col-md-6">
    <ui-input-group size="sm">
      <ui-input-addon><span class="icon-filter"></span></ui-input-addon>
      <input type="text" ui-input placeholder="请选择用户类型">
      <button type="button" class="ui-btn ui-btn-primary">button</button>
    </ui-input-group>
    <br>
    <br>
    <ui-input-group>
      <ui-input-addon><span class="icon-filter"></span></ui-input-addon>

      <input type="text" ui-input placeholder="请选择用户类型">
      <button type="button" class="ui-btn ui-btn-primary">button</button>
    </ui-input-group>
    <br>
    <br>
    <ui-input-group size="lg">
      <ui-input-addon><span class="icon-filter"></span></ui-input-addon>

      <input type="text" ui-input placeholder="请选择用户类型">
      <button type="button" class="ui-btn ui-btn-primary">button</button>
    </ui-input-group>
  </div>
  <div class="ui-col-md-6">
    <ui-pagination [pages]="30" size="sm"></ui-pagination>

  </div>
</div>

<p>
  <button type="button" class="ui-btn ui-btn-primary ui-btn-sm">button</button>
  <button type="button" class="ui-btn ui-btn-primary">button</button>
  <button type="button" class="ui-btn ui-btn-primary ui-btn-lg">button</button>
</p>
<p>
  <input type="text" ui-input size="sm">
  <input type="text" ui-input>
  <input type="text" ui-input size="lg">
</p>
<p><ui-pagination [pages]="30" size="sm"></ui-pagination></p>
<p><ui-pagination [pages]="30"></ui-pagination></p>
<p><ui-pagination [pages]="30" size="lg"></ui-pagination></p>