<p>1</p><p>2</p><p>3</p>
<ui-tree>
  <ui-tree-item>
    <ui-tree-inner>
      <ui-tree-expand></ui-tree-expand>
      A
    </ui-tree-inner>
  </ui-tree-item>
  <ui-tree-item>
    <ui-tree-inner>
      <ui-tree-expand></ui-tree-expand>
      B
    </ui-tree-inner>
    <ui-tree>
      <ui-tree-item>
        <ui-tree-inner>
          <ui-tree-expand></ui-tree-expand>
          A
        </ui-tree-inner>
        <ui-tree>
          <ui-tree-item>
            <ui-tree-inner>
              <ui-tree-expand></ui-tree-expand>
              A
            </ui-tree-inner>
          </ui-tree-item>
          <ui-tree-item>
            <ui-tree-inner>
              <ui-tree-expand></ui-tree-expand>
              B
            </ui-tree-inner>
          </ui-tree-item>
          <ui-tree-item>
            <ui-tree-inner>
              <ui-tree-expand></ui-tree-expand>
              C
            </ui-tree-inner>
          </ui-tree-item>
          <ui-tree-item>
            <ui-tree-inner>
              <ui-tree-expand></ui-tree-expand>
              D
            </ui-tree-inner>
          </ui-tree-item>
        </ui-tree>
      </ui-tree-item>
      <ui-tree-item>
        <ui-tree-inner>
          <ui-tree-expand></ui-tree-expand>
          B
        </ui-tree-inner>
      </ui-tree-item>
      <ui-tree-item>
        <ui-tree-inner>
          C
        </ui-tree-inner>
      </ui-tree-item>
      <ui-tree-item>
        <ui-tree-inner>
          D
        </ui-tree-inner>
      </ui-tree-item>
    </ui-tree>
  </ui-tree-item>
  <ui-tree-item>
    <ui-tree-inner>
      C
    </ui-tree-inner>
  </ui-tree-item>
  <ui-tree-item>
    <ui-tree-inner>
      D
    </ui-tree-inner>
  </ui-tree-item>
</ui-tree>

<form (uiSubmit)="submit()" novalidate autocomplete="off">
  name
  <input type="text" ui-input required integer [(ngModel)]="name" name="name" #a="ngModel">
  <div class="ui-invalid" *ngIf="a.invalid && (a.dirty && a.touched)">
    <span *ngIf="a.errors.required">必填</span>
    <span *ngIf="a.errors.integer">整数整数整数整数整数</span>
  </div>
  <button type="submit">submit</button>
</form>