<div style="padding-top: 30px;">
  <ui-input type="date" placeholder="请输入" disabled></ui-input>
  <br>
  <br>
  <br>
  <br>
  <ui-dropdown>
    <ui-dropdown-input placeholder="test" value="aaaa"></ui-dropdown-input>
    <ui-dropdown-menu>
      <ui-item>test</ui-item>
    </ui-dropdown-menu>
  </ui-dropdown>
  <br>
  <br>
  <br>
  <ui-input-group>
    <input type="text" ui-input>
    <button type="button" class="ui-btn ui-btn-primary">button</button>
  </ui-input-group>
  <br>
  <br>
  <ui-select>
    <ui-option>aaa</ui-option>
    <ui-option>bbb</ui-option>
    <ui-option>ccc</ui-option>
  </ui-select>
</div>
