@mixin timeline-item-style($name, $color) {
  &.ui-#{$name} {
    color: $color;
    &:before {
      border-color: $color;
      background-color: $color;
    }
    > .ui-timeline-line {
      border-color: $color;
    }
  }
}

ui-timeline-item {
  display: block;
  position: relative;
  padding-left: 1.5em;
  padding-bottom: 1em;
  font-weight: 500;
  &:first-of-type {
    .ui-timeline-line {
      top: 1em;
    }
  }
  &:last-of-type {
    .ui-timeline-line {
      bottom: calc(100% - 1em);
    }
  }
  &:before {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    left: -5px;
    top: .5em;
    z-index: 1;
    background-color: #fff;
    border: 1px solid $color-gray;
  }
  @include timeline-item-style(checked, $color-primary);
  @include timeline-item-style(primary, $color-primary);
  @include timeline-item-style(info, $color-info);
  @include timeline-item-style(success, $color-success);
  @include timeline-item-style(warning, $color-warning);
  @include timeline-item-style(danger, $color-danger);
}

.ui-timeline-line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  border-left: 1px solid $color-gray-light;
}

.ui-timeline-content {
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $color-dark;
}