@import "../varibles";
@import "mixins/input";

ui-checkbox {
    display: inline-block;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    color: $color-primary;
    width: 1.2em;
    height: 1.2em;
    font-size: 1.2em;
    line-height: 1.2em;
    @include input-styles;
    > .ui-checkbox-checked {
        transform: scale(0);
        opacity: 0;
    }
    &.checked {
        animation: checkbox-focus .3s;
        > .ui-checkbox-checked {
            transform: scale(1);
            opacity: 1;
        }
        > .ui-checkbox-unchecked {
            transform: scale(0);
            opacity: 0;
        }
    }
    > div {
        transition: all .3s;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin-top: 1px;
    }
}

@keyframes checkbox-focus {
    0% {
        border-radius: 50%;
        box-shadow: 0 0 0 2px $ui-input-focus-box-shadow-color;
    }
    100% {
        border-radius: 50%;
        box-shadow: 0 0 0 6px $ui-input-focus-box-shadow-color;
    }
}