.drop-down-menu {
    transform-origin: 0 0;
    transition: all .2s;
    &.open {
        transform: scaleY(1);
        opacity: 1;
    }
    &.unopen {
        transform: scaleY(0);
        opacity: 0;
    }
    &.left-bottom, &.right-bottom, &.top {
        transform-origin: 0 100%;
    }
}