@import "../varibles";
@import "mixins/input";

ui-input {
    display: inline-block;
    &[type=range] {
        display: block;
    }
    &[type=checkbox], &[type=radio], &[type=range] {
        cursor: pointer;
        > .ui-input-raw {
            width: 0;
            height: 0;
            position: absolute;
            overflow: hidden;
            opacity: 0;
        }
        > ui-input-checkbox, > ui-input-radio {
            display: inline-block;
        }
        > ui-input-range {
            display: block;
        }
    }

    @include input-styles;
    &[checked], &.checked {
        > ui-input-checkbox, > ui-input-radio {
            animation: checkbox-focus .3s;
            > .ui-input {
                > .ui-input-checked {
                    transform: scale(1);
                    opacity: 1;
                }
                > .ui-input-unchecked {
                    transform: scale(0);
                    opacity: 0;
                }
            }
        }
    }
    > ui-input-checkbox, > ui-input-radio {
        display: none;
        cursor: inherit;
        position: relative;
        vertical-align: middle;
        text-align: center;
        overflow: hidden;
        color: $color-primary;
        width: 1.2em;
        height: 1.2em;
        font-size: 1.2em;
        line-height: 1.2em;

        > .ui-input {
            display: block;
            width: 100%;
            height: 100%;
            background: none;
            border: none;
            font-size: inherit;
            line-height: inherit;
            color: inherit;
            cursor: inherit;
            > .ui-input-checked {
                transform: scale(0);
                opacity: 0;
            }
            > div {
                transition: all .3s;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin-top: 1px;
            }
        }
    }
    > ui-input-range {
        display: none;
        height: 6px;
        box-shadow: inset 1px 1px 3px $border-color-light;
        border-radius: 3px;
        line-height: 0;
        > .ui-input-range {
            display: inline-block;
            height: 100%;
            position: relative;
            width: 50%;
            box-shadow: inset 1px 1px 3px darken($border-color-light, 50);
            border-radius: inherit;
            > .ui-input-range-btn {
                position: absolute;
                width: 20px;
                height: 20px;
                right: -10px;
                top: -7px;
                border-radius: 50%;
                background-color: $border-color-base;
                border: none;
                cursor: inherit;
            }
        }
    }
}

@keyframes checkbox-focus {
    0% {
        border-radius: 50%;
        box-shadow: 0 0 0 2px $ui-input-focus-box-shadow-color;
    }
    100% {
        border-radius: 50%;
        box-shadow: 0 0 0 6px $ui-input-focus-box-shadow-color;
    }
}