@import "../varibles";
@import "mixins/input";

ui-input {
    > ui-checkbox, > ui-radio {
        display: inline-block;
        cursor: pointer;
        position: relative;
        vertical-align: middle;
        text-align: center;
        overflow: hidden;
        color: $color-primary;
        width: 1.2em;
        height: 1.2em;
        font-size: 1.2em;
        line-height: 1.2em;
        > .ui-input-raw {
            width: 0;
            height: 0;
            position: absolute;
            overflow: hidden;
            opacity: 0;
        }
        > .ui-input {
            display: block;
            width: 100%;
            height: 100%;
            background: none;
            border: none;
            font-size: inherit;
            line-height: inherit;
            color: inherit;
            cursor: inherit;
            > .ui-input-checked {
                transform: scale(0);
                opacity: 0;
            }
            > div {
                transition: all .3s;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin-top: 1px;
            }
        }
        @include input-styles;

    }
    &.checked {
        animation: checkbox-focus .3s;
        > .ui-input {
            > .ui-input-checked {
                transform: scale(1);
                opacity: 1;
            }
            > .ui-input-unchecked {
                transform: scale(0);
                opacity: 0;
            }
        }
    }
    //.ui-input {
    //    display: none;
    //}
}

@keyframes checkbox-focus {
    0% {
        border-radius: 50%;
        box-shadow: 0 0 0 2px $ui-input-focus-box-shadow-color;
    }
    100% {
        border-radius: 50%;
        box-shadow: 0 0 0 6px $ui-input-focus-box-shadow-color;
    }
}