@mixin input-style($name, $color) {
    &.#{$name} {
        > ui-input-checkbox, > ui-input-radio {
            color: $color;
        }
        > ui-input-range > .ui-input-range {
            background-color: hsla(hue($color), saturation($color), lightness($color), .3);
            > .ui-input-range-btn {
                background-color: lighten($color, 10);
                &:hover, &:active {
                    background-color: $color;
                }
            }
        }
        &[disabled], &[readonly], &.disabled {
            > ui-input-range > .ui-input-range > .ui-input-range-btn {
                cursor: not-allowed;
                &:hover, &:active {
                    background-color: lighten($color, 10);
                }
            }
        }
        &[disabled], &.disabled {
            > ui-input-range > .ui-input-range > .ui-input-range-btn {
                cursor: not-allowed;
            }
        }
        &[readonly] {
            > ui-input-range > .ui-input-range > .ui-input-range-btn {
                cursor: default;
            }
        }
    }
}

ui-input {
    display: inline-block;
    &[type=checkbox], &[type=radio], &[type=range] {
        cursor: pointer;
        > .ui-input-raw {
            width: 0;
            height: 0;
            position: absolute;
            overflow: hidden;
            opacity: 0;
        }
        > ui-input-checkbox, > ui-input-radio {
            display: inline-block;
        }
        > ui-input-range {
            display: block;
        }
    }

    @include input-style(primary, $color-primary);
    @include input-style(info, $color-info);
    @include input-style(warning, $color-warning);
    @include input-style(success, $color-success);
    @include input-style(danger, $color-danger);
    &[disabled], &[readonly], &.disabled {
        opacity: .5;
        cursor: not-allowed;
        > ui-input-range > .ui-input-range > .ui-input-range-btn {
            transition: none;
            &:hover, &:active {
                right: -10px;
                width: 20px;
                height: 20px;
                background-color: lighten($border-color-base, 20);
            }
            &:active {
                box-shadow: none;
            }
        }
    }
    &[readonly] {
        cursor: default;
    }
    &[checked], &.checked {
        > ui-input-checkbox, > ui-input-radio {
            animation: input-focus .3s;
            > .ui-input {
                > .ui-input-checked {
                    transform: scale(1);
                    opacity: 1;
                }
                > .ui-input-unchecked {
                    transform: scale(0);
                    opacity: 0;
                }
            }
        }
    }
    > ui-input-checkbox, > ui-input-radio {
        display: none;
        cursor: inherit;
        position: relative;
        vertical-align: middle;
        text-align: center;
        overflow: hidden;
        color: $color-default;
        width: 1.2em;
        height: 1.2em;
        font-size: 1.2em;
        line-height: 1.2em;

        > .ui-input {
            display: block;
            width: 100%;
            height: 100%;
            background: none;
            border: none;
            font-size: inherit;
            line-height: inherit;
            color: inherit;
            cursor: inherit;
            > .ui-input-checked {
                transform: scale(0);
                opacity: 0;
            }
            > div {
                transition: all .3s;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin-top: 1px;
            }
        }
    }
    > ui-input-range {
        display: none;
        height: 10px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
        background-color: #f5f5f5;
        border-radius: 3px;
        line-height: 0;
        cursor: default;
        &:before {
            content: '';
            display: block;
            width: 140px;
            height: 0;
        }
        > .ui-input-range {
            display: inline-block;
            height: 100%;
            position: relative;
            width: 50%;
            background-color: hsla(hue($border-color-base), saturation($border-color-base), lightness($border-color-base), .3);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
            border-radius: inherit;
            cursor: default;
            > .ui-input-range-btn {
                position: absolute;
                width: 20px;
                height: 20px;
                right: -10px;
                top: 50%;
                border-radius: 50%;
                transform: translateY(-50%);
                transform-origin: 50% 50%;
                background-color: lighten($border-color-base, 10);
                border: none;
                cursor: pointer;
                transition: all .2s;
                &:hover, &:active {
                    right: -12px;
                    width: 24px;
                    height: 24px;
                    background-color: $border-color-base;
                }
                &:active {
                    box-shadow: 0 0 0 6px $ui-input-focus-box-shadow-color;
                }
            }
        }
    }
}

@keyframes input-focus {
    0% {
        border-radius: 50%;
        box-shadow: 0 0 0 2px $ui-input-focus-box-shadow-color;
    }
    100% {
        border-radius: 50%;
        box-shadow: 0 0 0 6px $ui-input-focus-box-shadow-color;
    }
}