@import "../varibles";

.ui-option {
    padding: 0 $grid-column-padding;
    line-height: 2em;
    transition: all .2s;
    display: block;
    background: none;
    width: 100%;
    border: 0;
    font-size: inherit;
    text-align: left;
    > div {
        white-space: normal;
        overflow: hidden;
    }
    &:hover {
        cursor: pointer;
        background-color: lighten($color-primary, 50);
    }
    &.active {
        background-color: lighten($color-primary, 45);
    }
    &.disabled {
        background-color: hsla(hue($color-default), saturation($color-default), lightness($color-default), .2);
        cursor: not-allowed;
        color: #fff;
    }
}