@import "../varibles";
@import "mixins/input";

ui-radio {
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    color: $color-primary;
    width: 1.2em;
    height: 1.2em;
    font-size: 1.2em;
    line-height: 1.2em;
    @include input-styles;
    .ui-radio {
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        cursor: inherit;
        > .ui-radio-checked {
            transform: scale(0);
            opacity: 0;
        }
        > div {
            transition: all .3s;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin-top: 1px;
        }
    }
    &.checked {
        animation: radio-focus .3s;
        .ui-radio {
            > .ui-radio-checked {
                transform: scale(1);
                opacity: 1;
            }
            > .ui-radio-unchecked {
                transform: scale(0);
                opacity: 0;
            }
        }
    }
}

@keyframes radio-focus {
    0% {
        box-shadow: 0 0 0 2px $ui-input-focus-box-shadow-color;
    }
    100% {
        box-shadow: 0 0 0 6px $ui-input-focus-box-shadow-color;
    }
}