.ui-anchor {
  .ui-anchor-link-btn {
    display: none;
    font-size: .8em;
    margin-left: .5em;
    color: $color-gray-dark;
    text-decoration: none;
    &:hover {
      color: $color-primary;
    }
  }
  &:hover {
    .ui-anchor-link-btn {
      display: inline;
    }
  }
}