ui-modal {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;

  &.ui-modal-sm {
    width: 420px;
    height: 280px;
  }

  &.ui-modal-lg {
    width: 810px;
    height: 540px;

    ui-modal-body {
      padding-left: $container-horizontal-padding + 15;
      padding-right: $container-horizontal-padding + 15;
    }
  }
}