ui-modal-body {
  display: table-row;
  height: 100%;
  &:first-child > .ui-modal-body {
    padding-top: $container-horizontal-padding * 2;
  }
}

.ui-modal-body {
  display: table-cell;
  vertical-align: top;
  padding: $container-horizontal-padding + 5;
  overflow-y: auto;
  background-color: $color-lighter;
}
