<div class="home-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">aaa</div>
            <div class="col-md-2 col-sm-4 col-xs-6">bbb</div>
            <div class="col-md-2 col-sm-4 col-xs-6">ccc</div>
            <div class="col-md-2 col-sm-4 col-xs-6">ddd</div>
            <div class="col-md-2 col-sm-4 col-xs-6">eee</div>
            <div class="col-md-2 col-sm-4 col-xs-6">fff</div>
        </div>
        <div class="row">
            <div class="col-md-2">表单表单表单表单表单表单表单表单表单表单表单表单表单表单表单表单</div>
            <div class="col-md-8">
                <input type="text" class="form-control" value="魂牵梦萦">
            </div>
        </div>
        <p>
            <input type="text" class="form-control input-sm">
        </p>
        <p>
            <input type="text" class="form-control input-xs">
        </p>
        <p>
            <input type="text" class="form-control input-lg has-success">
        </p>
        <p>
            <input type="text" class="form-control input-lg has-info">
        </p>
        <p>
            <input type="text" class="form-control input-lg has-warning">
        </p>
        <p>
            <input type="text" class="form-control input-lg has-danger" disabled>
        </p>
    </div>
</div>