<div class="home-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-6">aaa</div>
      <div class="col-md-2 col-sm-4 col-xs-6">bbb</div>
      <div class="col-md-2 col-sm-4 col-xs-6">ccc</div>
      <div class="col-md-2 col-sm-4 col-xs-6">ddd</div>
      <div class="col-md-2 col-sm-4 col-xs-6">eee</div>
      <div class="col-md-2 col-sm-4 col-xs-6">fff</div>
    </div>
    <p>
      <input type="text" class="form-control">
    </p>
    <p>
      <input disabled type="text" class="form-control">
    </p>
    <p>
      <input type="text" class="form-control disabled">
    </p>
    <p>
      <input readonly type="text" class="form-control">
    </p>
    <p></p>
  </div>
</div>