ui-modal-footer {
  display: block;
  padding: 10px $container-horizontal-padding + 5;
  text-align: right;
  border-top: 1px solid $color-light;
  background-color: #fff;
  >.ui-btn {
    margin-left: 10px;
  }
}