ui-modal-inner {
  display: block;
  flex: 1;
  padding: $grid-column-padding + 5;
  overflow-y: auto;
  background-color: $color-lighter;
  &:first-child {
    padding-top: $grid-column-padding * 2;
  }
}